.htaccess
.DS_Store
*sublime-*
!.gitkeep
local-config.php
develop-config.php
staging-config.php
live-config.php
sitemap.xml
sitemap.xml.gz
content/uploads/*
content/themes/*/node_modules
content/db.php
content/plugins/query-monitor/
content/themes/*/assets/css/maps/
content/advanced-cache.php
content/cache/
content/w3tc-config/
content/plugins/w3-total-cache/
content/plugins/w3tc-wp-loader.php
