.htaccess
.DS_Store
*sublime-*
!.gitkeep
local-config.php
develop-config.php
staging-config.php
live-config.php
sitemap.xml
sitemap.xml.gz
wp-content/uploads/*
wp-content/themes/*/node_modules
wp-content/db.php
wp-content/plugins/query-monitor/
wp-content/themes/*/assets/css/maps/
wp-content/advanced-cache.php
wp-content/cache/
wp-content/w3tc-config/
wp-content/plugins/w3-total-cache/
wp-content/plugins/w3tc-wp-loader.php
