// ********************************************
// SECTIONS
// ********************************************
.et_pb_section {
  // colours
  &.lightBlue {
    background-color: $trust-bg-blue;
  }
  &.lightGrey {
    background-color: lighten($trust-grey, 58%);
  }
  &.blue {
    background-color: $trust_blue;
    p {
      color: $white;
    }
  }
  &.white {
    background-color: $white;
    &.showIcon {
      color: $trust-bg-blue;
      // font-size: 12em;
    }
  }
  // Icons
  &.showIcon {
    position: relative;
    overflow:hidden;
    &:before {
      font-family: "trust-id";
      content: "";
      position: absolute;
      display: block;
      top: auto;
      // left: 0;
      bottom: 100px;
      right: 0;
      font-size: 30em
    }
    // the Icons
    &.wizard {
      &:before {
        content: "w";
      }
    }
  }
}


// ********************************************
// ELEMENTS
// ********************************************
.paper {
  background:$white;
  @include material_box_shadow(1);
  border-radius: 5px;
  padding: 2.5em;
  &:hover {
    @include material_box_shadow(3);
    @include translate (0, -5px);
  }
}

.edition {
  // @include susy-span(1 of 5);
  overflow: hidden;
  position:relative;
  padding:0;
  header {
    position: relative;
    width:200%;
    margin-left: -50%;
    padding:1.5em 50% 2em;
    border-radius: 0px 0px 50% 50%;
    background-color: $trust-blue;
    text-align: center;
    @include material_box_shadow(2);
    span {
      color: $white;
      display:block;
      &.edition_price {
        font-size: 3em;
        line-height: 1.5em;
        font-weight: 900;
        margin-bottom:0.25em;
        vertical-align: middle;
        &::first-letter, small {
          vertical-align: super;
          font-size: 0.5em;
          margin-right:0.15em;
          font-weight: 500;
          letter-spacing: 1px;
        }
        small {
          padding: 0 5px;
        }
      }
      &.edition_title {
        font-size: 1em;
        font-weight: 100;
        letter-spacing: 8px;
        text-transform:uppercase;
      }
    }
  }
  ul {
    list-style: none;
    padding:0;
    margin:1em 0;
    li {
      text-align: center;
      padding:0 1.5em;
      line-height: 75px;
      height:75px;
      strong {
        display: block;
        font-size: 0.9em;
        margin-top: 0.25em;
        font-weight: 900;
      }
      span {
        vertical-align:middle;
        display:inline-block;
        line-height:1.2;
      }
      &:nth-child(even) {
        background-color: $trust-bg-blue;
      }
    }
  }
  footer {
    text-align: center;
    padding-bottom: 1.5em;
    span {
      display:block;
      line-height: 1;
      margin:1em;
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  border:none;
  th, td {
    text-align: left;
    border: 1px solid lighten($trust-grey, 58%);
    padding:16px !important;
    font-size: 1em;
    text-align: center;
    color: $trust_lblue;
    line-height: 1;
    &:first-child {
      color:$trust_blue;
      font-weight: 700;
      text-align: left;
    }
  }
  th {
    border-bottom: 1px solid $trust_blue;
    padding: 21px 16px !important;
  }
  tbody tr:nth-child(odd) {
    background: $trust-bg-blue;
  }
}

// ********************************************
// TABS
// ********************************************
.tabbed-contaent {
  #theTabs {
    @include container(100%);
    list-style: none;
    li {
      @include span(1 of 6);
      &:last-of-type {
        @include span(1 of 6 last);
      }
      @include transition(all 0.5s);
      text-align: center;
      border-bottom: 3px solid transparent;
      padding: 20px 10px;
      svg, span {
        vertical-align: middle;
        font-size: 1.1em;
        color: $black;
        font-weight: 500;
      }
      svg {
        // border:7px solid lighten($trust-grey, 58%);
        // background-color: lighten($trust-grey, 58%);
        // border-radius: 50%;
        color: $trust_blue;
        margin-right: 17px;
        // width:50px;
        // height:50px;
      }
      &:hover {
        background-color: $trust-bg-blue;
      }
      &.active {
        border-color: $trust_blue;
      }
    }
  }
  #theTabContent
  .tab-pane {
    display: none;
    &.active {
      display: block;
    }
  }
}
