// ********************************************
// COMMON SITE STYLES
// ********************************************
html {
  font-size:14px; // Set base font for mobile
  height: 100%;
}

body {
  background-color: $white;
  &.home {
    background-color: $trust-bg-blue;
  }
}

[class^="icon-"], [class*=" icon-"] {
  height: 32px;
  width: 32px;
  display: inline-block;
  fill: currentColor;
}

.icon_wrap {
  background-color: $trust_blue;
  border-radius: 50%;
  color: $white;
  padding:20px;
  display: inline-block;
  [class^="icon-"], [class*=" icon-"] {
    height: 54px;
    width: 54px;
  }
}

// Divi Resets
#main-content .container:before { background: none; }
#main-content { overflow: hidden; }
#sidebar { display:none; }

.single, .home, .page {
  #page-container {
    padding-top:0 !important;
  }
}

.et_pb_pagebuilder_layout.single-editions {
  #page-container {
    .et_pb_row {
      width: 100%;
    }
    .et_pb_with_background {
      .et_pb_row {
        width: 80%;
      }
    }
  }
}

// ********************************************
// SITE HEADER
// ********************************************
#main-header {
  position:relative;
  background-color: transparent;
  box-shadow: none;
  &.et-fixed-header {
    position:fixed;
    top:0;
    background-color:white;
    @include transition(all 0.14s ease-in-out);
    @include box-shadow(5px, 0, 5px, rgba(0,0,0,.75));
  }
}

// Main Menu
#et_mobile_nav_menu {
  .mobile_nav {
    .mobile_menu_bar_toggle {
      &:before{
        color: $white;
      }
    }
    #mobile_menu {
      border: 1px solid $white;
      background-color: $trust-blue;
      box-shadow: none;
      > li {
        border-bottom: 1px solid $white;
        > a {
          color:$white;
        }
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
  .et-fixed-header & {
    .mobile_menu_bar_toggle {
      &:before{
        color: $trust_blue;
      }
    }
  }
}

// Search Box
#et_search_icon {
  color: $white;
  .et-fixed-header & {
    color: $trust_blue;
  }
}

.et_search_outer {
  .et-search-form {
    input {
      color: $white;
      &::placeholder {
        color: $white;
      }
    }
  }
  .et_close_search_field {
    &:after {
      color: $white;
    }
  }
  .et-fixed-header & {
    .et-search-form {
      input {
        color: $trust_blue;
        &::placeholder {
          color: $trust_blue;
        }
      }
    }
    .et_close_search_field {
      &:after {
        color: $trust_blue;
      }
    }
  }
}

// ********************************************
// BANNER
// ********************************************
// Banner styleshee
#banner_container {
  width:100%;
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  #banner_curve, #banner_img {
    position: relative;
    width:200%;
    margin-left: -50%;
    padding:0 50%;
    border-radius: 0px 0px 50% 50%;
    background-color: rgba($trust-blue, 0.65);
    margin-bottom:30px;
    text-align: center;
    #heroImg {
      position: absolute;
      top: auto;
      bottom: -30px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  #banner_img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #banner_video {

  }
  #banner_content {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    position: relative;
    justify-content: center;
    align-items: center;
    #banner_title, #banner_text {
      text-align: center;
      color: $white;
      padding-bottom:0.5em;
      font-size:1.25em;
    }
    #banner_title {
      font-weight: 700;
      text-shadow: 1px 1px 3px rgba($black, 0.5);
      font-size:2.5em;
      line-height: 1.25em;
    }
    #banner_btn {
      font-size:1.35em;
      margin:0.5em 0;
    }
  }
 }

 // ********************************************
 // EDITIONS
 // ********************************************
// .edition {
//   @include span(1 of 5);
//   &:last-of-type {
//     @include span(1 of 5 last);
//   }
// }
